USE [ERULKU]
GO
/****** Object:  UserDefinedFunction [dbo].[Bmsf_125_MarkeRGeniusIntegration_Malzemeler]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













 


CREATE FUNCTION [dbo].[Bmsf_125_MarkeRGeniusIntegration_Malzemeler] (
    @WHOUSENR int
)
RETURNS TABLE
AS
RETURN 
SELECT 
	* 
FROM (
SELECT
TARIH=cast(CASE	WHEN (SELECT TOP 1 ISNULL(PL.CHANGEDATE,PL.RECDATE) FROM LK_125_PRCLIST PL WITH(NOLOCK) WHERE PL.LOGICALREF=LK_PRCLISTREF)>
			ITEMDATE
				THEN (SELECT TOP 1 ISNULL(PL.CHANGEDATE,PL.RECDATE) FROM LK_125_PRCLIST PL WITH(NOLOCK) WHERE PL.LOGICALREF=LK_PRCLISTREF) ELSE
			ITEMDATE
		END as date), 
IBMGENIUSAMBAR
,CODE
,BARCODE
,ALCOHOL = (CASE WHEN CYPHCODE LIKE '%İÇKİ%' THEN 1 ELSE 0 END)
,EXPLANATION=dbo.BMS_FNC_PennaGeniusIntegration_CharacterFix(EXPLANATION)
,UNIT1
,UNIT1IBM=(CASE UNIT1 WHEN 'ADET' THEN '1' WHEN 'M' THEN '100' WHEN 'KG' THEN '1000' END)
,SELLING_PRICE1=	ROUND((SELECT TOP 1 PL.BUYPRICE FROM LK_125_PRCLIST PL WITH(NOLOCK) WHERE PL.LOGICALREF=LK_PRCLISTREF),2)
,VAT_RATE
,VAT_CODE
,VAT_CODE_N
,GROUPID =
    CASE 
	       
	        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '262' THEN '1'     
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '227' THEN '2'                     -- 113 ürün
                -- 585 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '1161' THEN '3'                -- 431 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '1167' THEN '4'                   -- 301 ürün
        WHEN SPECODE2 = '11104' THEN '5'              -- 158 ürün
        WHEN SPECODE2 = '14202' THEN '6'          -- 775 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '1176' AND SPECODE3 = '776' THEN '7'  -- 157 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '1176' AND SPECODE3 = '137' THEN '8'  
		
		-- 309 ürün
        ELSE '0' 
    END
,GROUPINFO =
    CASE 
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '227' THEN 'Arian kampanya'                     -- 113 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '262' THEN 'Arzum kampanya'                     -- 585 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '1161' THEN 'Hascevher kampanya'                -- 431 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '1167' THEN 'Mehtap kampanya'                   -- 301 ürün
        WHEN SPECODE2 = '11104' THEN 'Bisiklet kampanyası'              -- 158 ürün
       WHEN SPECODE2 = '14202' THEN 'Twigy Terlik Grubu Yeni Yıl Kampanyası'     -- 775 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '1176' AND SPECODE3 = '776' THEN 'Wk 776 kampanyası'  -- 157 ürün
        WHEN ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'') = '1176' AND SPECODE3 = '137' THEN 'Wk 137 kampanya'    -- 309 ürün
        ELSE '' 
    END
,MARKCODE=ISNULL((SELECT TOP 1 M.CODE FROM LG_125_MARK M WHERE M.LOGICALREF=MARKREF),'')

,SPECODE
,SPECODE2
,SPECODE3
,SPECODE4
,SPECODE5
,ACTIVE
 FROM (
SELECT 
	IBMGENIUSAMBAR=(SELECT TOP 1 KDD.OFFICECODE FROM  LK_125_DIVDEFAULTS KDD WITH(NOLOCK) WHERE KDD.WHOUSENR=@WHOUSENR)
	,ITEMREF=		I.LOGICALREF
	,ITEMDATE=		CASE WHEN ISNULL(I.CAPIBLOCK_MODIFIEDDATE,CONVERT(DATETIME, 0))>ISNULL(I.CAPIBLOCK_CREADEDDATE,'20230101') THEN I.CAPIBLOCK_MODIFIEDDATE ELSE I.CAPIBLOCK_CREADEDDATE END
	,I.CODE
	,I.MARKREF
	,B.BARCODE
	,EXPLANATION=	LEFT(I.NAME,20)
	,UNIT1=			(SELECT TOP 1 UL.CODE FROM LG_125_UNITSETL UL  WITH(NOLOCK) WHERE UL.MAINUNIT=1 AND UL.UNITSETREF=I.UNITSETREF)
	,LK_PRCLISTREF=	ISNULL((SELECT TOP 1 KF.LOGICALREF FROM 
						LK_125_PRCLIST KF WITH(NOLOCK)  WHERE KF.OFFICECODE=(SELECT KDD.OFFICECODE FROM 
							LK_125_DIVDEFAULTS KDD  WITH(NOLOCK) WHERE KDD.WHOUSENR=@WHOUSENR) AND KF.STREF=I.LOGICALREF AND KF.VARIANTREF=0 
								ORDER BY KF.LOGICALREF DESC),0)
	,VAT_RATE=I.SELLPRVAT
	,ACTIVE = I.ACTIVE
	,VAT_CODE=(SELECT TOP 1 M.KDVDEPNR FROM  LG_125_MARKET M WITH(NOLOCK)  WHERE M.ITEMREF=I.LOGICALREF)
	,VAT_CODE_N=(
	SELECT TOP 1 
    CASE M.KDVDEPNR
        WHEN 5 THEN 8
        WHEN 7 THEN 1
        WHEN 1 THEN 2
        WHEN 6 THEN 3
        WHEN 3 THEN 4
        WHEN 4 THEN 5
        ELSE M.KDVDEPNR
    END AS NCR
FROM LG_125_MARKET M WITH(NOLOCK)
WHERE M.ITEMREF = I.LOGICALREF
	)
	,SPECODE
	,SPECODE2
	,SPECODE3
	,SPECODE4
	,SPECODE5
	,CYPHCODE
FROM 
	LG_125_UNITBARCODE B  WITH(NOLOCK) LEFT JOIN LG_125_ITEMS I WITH(NOLOCK)  ON I.LOGICALREF = B.ITEMREF 
) AS TT
) AS TF
WHERE 
	TF.SELLING_PRICE1>0 AND YEAR(TF.TARIH)>=2023
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_HatalıÜrünKarakterleri]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[BMS_125_MarkeRGenius_HatalıÜrünKarakterleri] AS
SELECT TARIH,EXPLANATION,CODE,
 patindex('%[^! -~]%' COLLATE Latin1_General_BIN,EXPLANATION) as [Position],
 substring(EXPLANATION,patindex('%[^ !-~]%' COLLATE Latin1_General_BIN,EXPLANATION),1) AS [InvalidCharacter],
 ascii(substring(EXPLANATION,patindex('%[^ !-~]%' COLLATE Latin1_General_BIN,EXPLANATION),1)) as [ASCIICode]
 from Bmsf_125_MarkeRGeniusIntegration_Malzemeler(0)
 where patindex('%[^! -~]%' COLLATE Latin1_General_BIN,EXPLANATION)>0 AND TARIH > '2025-04-01'



GO
/****** Object:  UserDefinedFunction [dbo].[BMSF_125_ErulkuGenius_Sales]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















CREATE FUNCTION [dbo].[BMSF_125_ErulkuGenius_Sales] (
    @DATE1 DATETIME,
	@DATE2 DATETIME
)
RETURNS TABLE
AS
RETURN 
--SELECT * FROM (
SELECT
	DATE_=					G3B.TDATE
	,BRANCH=				'0'
	,POS=					FK_POS
	,FTYPE
	,SALESMAN=				SALESMAN/*STLINEDA OLACAK*/
	,ITEMCODE=				ITM.CODE
	,ITEMNAME=				ITM.NAME 
	,QUANTITY=				G3B.QUANTITY
	,PRICE=					G3B.PRICE
	,LINETOTAL=				G3B.TOTALPRICE
	,LINE_DISCOUNT_TOTAL=	LINE_TOTL_DISCOUNT
	,DISCOUNT_TOTAL,INDIRECT_DISCOUNT_TOTAL,CAMPAIGN_DISCOUNT,CHEQUE_DISCOUNT
	/*select * from [BMSF_125_ErulkuGenius_Sales]('12/26/2023 00:00:00','12/26/2023 23:59:59') where LINE_TOTL_DISCOUNT<>0*/
FROM
	LG_125_UNITBARCODE AS UBR RIGHT OUTER JOIN
	(
SELECT FTYPE='SATIS',TDATE,FK_POS,SALESMAN,BARCODE,SUM(QUANTITY) AS QUANTITY,AVG(PRICE) AS PRICE,SUM(TOTALPRICE) AS TOTALPRICE,SUM(LINE_TOTL_DISCOUNT) AS LINE_TOTL_DISCOUNT,
SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT,
SUM(LINE_TOTAL_VAT) AS LINE_TOTAL_VAT FROM (
SELECT FTYPE='SATIS',  cast(TRANS_DATE as date) AS TDATE,
    FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ((/* satislar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) OR
                      (/* iade satis iptali */ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0)) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2 AND TRANSACTION_HEADER.FK_CUSTOMER='0'
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE
/* satir iptalleri ve iadeleri cikartmak*/ UNION ALL
/*IPTAL*/
SELECT     
	FTYPE='SATIRIPTAL',cast(TRANS_DATE as date) AS TDATE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, - SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      - SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      - SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,-SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,-SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,-SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,-SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iptal edilen satirlar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0) AND
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2 AND TRANSACTION_HEADER.FK_CUSTOMER='0'
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE
) AS SATISVESATIRIPTAL GROUP BY FK_POS,SALESMAN,TDATE,BARCODE
UNION ALL
/*IADE*/
SELECT     FTYPE='IADE',cast(TRANS_DATE as date) AS TDATE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE,  SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                       SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                       SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iadeler*/ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2 AND TRANSACTION_HEADER.FK_CUSTOMER='0'
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE	
	) AS G3B ON UBR.BARCODE = G3B.BARCODE LEFT OUTER JOIN
	LG_125_ITEMS ITM ON ITM.LOGICALREF=UBR.ITEMREF
--) AS TFF WHERE TFF.POS IN ('22','32','38','40','41','47','52') /*and FTYPE='SATIS'*/
--AND UBR.BARCODE='2405306'
-- CAWWW
-- SELECT TOP 10 * FROM LG_125_UNITBARCODE
 
 --SELECT * FROM [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER
GO
/****** Object:  UserDefinedFunction [dbo].[BMSF_125_ErulkuGenius_Sales_WithCustomer]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















--select * from [BMSF_125_ErulkuGenius_Sales_WithCustomer]('12/26/2023 00:00:00','12/26/2023 23:59:59') 



CREATE FUNCTION [dbo].[BMSF_125_ErulkuGenius_Sales_WithCustomer] (
    @DATE1 DATETIME,
	@DATE2 DATETIME
)
RETURNS TABLE
AS
RETURN 
--SELECT * FROM (
SELECT
	FICHE_ID=				CAST(FICHE_ID AS VARCHAR)
	/*,DOCUMENT_NO*/
	,DATE_=					G3B.TDATE
	,BRANCH=				'0'
	,CUSTOMER_CODE
	,CUSTOMER_NAME
	,POS=					FK_POS
	,FTYPE
	/*,PTYPE*/
	,SALESMAN=				SALESMAN/*STLINEDA OLACAK*/
	,ITEMCODE=				ITM.CODE
	,ITEMNAME=				ITM.NAME 
	,QUANTITY=				G3B.QUANTITY
	,PRICE=					G3B.PRICE
	,LINETOTAL=				G3B.TOTALPRICE
	,LINE_DISCOUNT_TOTAL=	LINE_TOTL_DISCOUNT
	,DISCOUNT_TOTAL,INDIRECT_DISCOUNT_TOTAL,CAMPAIGN_DISCOUNT,CHEQUE_DISCOUNT
	/*select * from [[BMSF_125_ErulkuGenius_Sales_WithCustomer]]('12/26/2023 00:00:00','12/26/2023 23:59:59') where LINE_TOTL_DISCOUNT<>0*/
FROM
	LG_125_UNITBARCODE AS UBR RIGHT OUTER JOIN
	(
SELECT FICHE_ID,FTYPE='SATIS',TDATE,CUSTOMER_CODE,CUSTOMER_NAME,FK_POS,SALESMAN,BARCODE,SUM(QUANTITY) AS QUANTITY,AVG(PRICE) AS PRICE,SUM(TOTALPRICE) AS TOTALPRICE,SUM(LINE_TOTL_DISCOUNT) AS LINE_TOTL_DISCOUNT,
SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT,
SUM(LINE_TOTAL_VAT) AS LINE_TOTAL_VAT FROM (
SELECT 
	FICHE_ID=TRANSACTION_HEADER.ID,
	FTYPE='SATIS',
	/*PTYPE=(SELECT PT.DESCRIPTION FROM [192.168.3.197].[Genius3].[GENIUS3].PAYMENT_TYPE PT WITH(NOLOCK) WHERE PT.ID=(SELECT top 1  TP.FK_PAYMENT_TYPE FROM [192.168.3.197].[Genius3].[GENIUS3].TRANSACTION_PAYMENT TP WITH(NOLOCK) WHERE TRANSACTION_HEADER.ID=TP.FK_TRANSACTION_HEADER)),*/
	cast(TRANS_DATE as date) AS TDATE,
	CUSTOMER_CODE=TRANSACTION_HEADER.CUSTOMER_CODE,CUSTOMER_NAME=TRANSACTION_HEADER.NAME_ON_DOC,
    FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WITH(NOLOCK)  WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WITH(NOLOCK)  WHERE GUT.ID=FK_USER)
	,BARCODE, SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE WITH(NOLOCK)  INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER WITH(NOLOCK)  ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ((/* satislar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) OR
                      (/* iade satis iptali */ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0)) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2 AND TRANSACTION_HEADER.FK_CUSTOMER<>'0'
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE, TRANSACTION_HEADER.CUSTOMER_CODE, TRANSACTION_HEADER.NAME_ON_DOC, TRANSACTION_HEADER.ID
/* satir iptalleri ve iadeleri cikartmak*/ UNION ALL
/*IPTAL*/
SELECT   
	FICHE_ID=TRANSACTION_HEADER.ID,
	FTYPE='SATIRIPTAL',
	/*PTYPE=(SELECT PT.DESCRIPTION FROM [192.168.3.197].[Genius3].[GENIUS3].PAYMENT_TYPE PT WITH(NOLOCK) WHERE PT.ID=(SELECT top 1  TP.FK_PAYMENT_TYPE FROM [192.168.3.197].[Genius3].[GENIUS3].TRANSACTION_PAYMENT TP WITH(NOLOCK) WHERE TRANSACTION_HEADER.ID=TP.FK_TRANSACTION_HEADER)),*/
	cast(TRANS_DATE as date) AS TDATE,
	CUSTOMER_CODE=TRANSACTION_HEADER.CUSTOMER_CODE,CUSTOMER_NAME=TRANSACTION_HEADER.NAME_ON_DOC,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WITH(NOLOCK)  WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WITH(NOLOCK)  WHERE GUT.ID=FK_USER)
	,BARCODE, - SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      - SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      - SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,-SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,-SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,-SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,-SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE  WITH(NOLOCK) INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER  WITH(NOLOCK) ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iptal edilen satirlar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0) AND
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2 AND TRANSACTION_HEADER.FK_CUSTOMER<>'0'
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE, TRANSACTION_HEADER.CUSTOMER_CODE, TRANSACTION_HEADER.NAME_ON_DOC, TRANSACTION_HEADER.ID
) AS SATISVESATIRIPTAL GROUP BY FK_POS,SALESMAN,TDATE,BARCODE ,CUSTOMER_CODE,CUSTOMER_NAME, FICHE_ID
UNION ALL
/*IADE*/
SELECT     
	FICHE_ID=TRANSACTION_HEADER.ID,
	FTYPE='IADE',
	/*PTYPE=(SELECT PT.DESCRIPTION FROM [192.168.3.197].[Genius3].[GENIUS3].PAYMENT_TYPE PT WITH(NOLOCK) WHERE PT.ID=(SELECT top 1  TP.FK_PAYMENT_TYPE FROM [192.168.3.197].[Genius3].[GENIUS3].TRANSACTION_PAYMENT TP WITH(NOLOCK) WHERE TRANSACTION_HEADER.ID=TP.FK_TRANSACTION_HEADER)),*/
	cast(TRANS_DATE as date) AS TDATE,
	CUSTOMER_CODE=TRANSACTION_HEADER.CUSTOMER_CODE,CUSTOMER_NAME=TRANSACTION_HEADER.NAME_ON_DOC,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WITH(NOLOCK)  WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT  WITH(NOLOCK) WHERE GUT.ID=FK_USER)
	,BARCODE,  SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                       SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                       SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE WITH(NOLOCK)  INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER WITH(NOLOCK)  ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iadeler*/ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2 AND TRANSACTION_HEADER.FK_CUSTOMER<>'0'
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE,  TRANSACTION_HEADER.CUSTOMER_CODE, TRANSACTION_HEADER.NAME_ON_DOC, TRANSACTION_HEADER.ID
	) AS G3B ON UBR.BARCODE = G3B.BARCODE LEFT OUTER JOIN
	LG_125_ITEMS ITM  WITH(NOLOCK) ON ITM.LOGICALREF=UBR.ITEMREF
--) AS TFF WHERE TFF.POS IN ('22','32','38','40','41','47','52') /*and FTYPE='SATIS'*/
--AND UBR.BARCODE='2405306'
-- CAWWW
-- SELECT TOP 10 * FROM LG_125_UNITBARCODE
 
 --SELECT * FROM [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER
GO
/****** Object:  UserDefinedFunction [dbo].[BMSF_125_PennaGenius_Sales]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[BMSF_125_PennaGenius_Sales] (
    @DATE1 DATETIME,
	@DATE2 DATETIME
)
RETURNS TABLE
AS
RETURN 
--SELECT * FROM (
SELECT
	DATE_=					G3B.TDATE
	,BRANCH=				'0'
	,POS=					FK_POS
	,FTYPE
	,SALESMAN=				SALESMAN/*STLINEDA OLACAK*/
	,ITEMCODE=				ITM.CODE
	,ITEMNAME=				ITM.NAME 
	,QUANTITY=				G3B.QUANTITY
	,PRICE=					G3B.PRICE
	,LINETOTAL=				G3B.TOTALPRICE
	,LINE_DISCOUNT_TOTAL=	LINE_TOTL_DISCOUNT
	,DISCOUNT_TOTAL,INDIRECT_DISCOUNT_TOTAL,CAMPAIGN_DISCOUNT,CHEQUE_DISCOUNT
	/*select * from [BMSF_125_PennaGenius_Sales]('12/26/2023 00:00:00','12/26/2023 23:59:59') where LINE_TOTL_DISCOUNT<>0*/
FROM
	LG_125_UNITBARCODE AS UBR RIGHT OUTER JOIN
	(
SELECT FTYPE='SATIS',TDATE,FK_POS,SALESMAN,BARCODE,SUM(QUANTITY) AS QUANTITY,AVG(PRICE) AS PRICE,SUM(TOTALPRICE) AS TOTALPRICE,SUM(LINE_TOTL_DISCOUNT) AS LINE_TOTL_DISCOUNT,
SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT,
SUM(LINE_TOTAL_VAT) AS LINE_TOTAL_VAT FROM (
SELECT FTYPE='SATIS',  cast(TRANS_DATE as date) AS TDATE,
    FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ((/* satislar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) OR
                      (/* iade satis iptali */ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0)) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE
/* satir iptalleri ve iadeleri cikartmak*/ UNION ALL
/*IPTAL*/
SELECT     
	FTYPE='SATIRIPTAL',cast(TRANS_DATE as date) AS TDATE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, - SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      - SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      - SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,-SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,-SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,-SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,-SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iptal edilen satirlar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0) AND
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE
) AS SATISVESATIRIPTAL GROUP BY FK_POS,SALESMAN,TDATE,BARCODE
UNION ALL
/*IADE*/

SELECT     FTYPE='IADE',cast(TRANS_DATE as date) AS TDATE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE,  SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                       SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                       SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iadeler*/ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN @DATE1 AND @DATE2
GROUP BY cast(TRANS_DATE as date),FK_POS,FK_USER, BARCODE	
	) AS G3B ON UBR.BARCODE = G3B.BARCODE LEFT OUTER JOIN
	LG_125_ITEMS ITM ON ITM.LOGICALREF=UBR.ITEMREF
--) AS TFF WHERE TFF.POS IN ('22','32','38','40','41','47','52') /*and FTYPE='SATIS'*/
--AND UBR.BARCODE='2405306'
-- CAWWW
-- SELECT TOP 10 * FROM LG_125_UNITBARCODE
 
 --SELECT * FROM [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_Branch]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[BMS_125_MarkeRGenius_Branch] as 
select NR,NAME from L_CAPIDIV WHERE FIRMNR=125
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_DebtClose_Csroll]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[BMS_125_MarkeRGenius_DebtClose_Csroll]  as 
SELECT 
	PAYTRANS_CSROLL=	PT.LOGICALREF
	,BRANCH=			I.BRANCH
	,DOCODE=			I.DOCODE
	,DATE_CSROLL=		I.DATE_
	,CLIENTREF=			PT.CARDREF
	,I.SPECODE
	,PAYTRANS_TOTAL=	PT.TOTAL 
FROM 
	LG_125_01_PAYTRANS PT LEFT JOIN LG_125_01_CSROLL I ON I.LOGICALREF=PT.FICHEREF
WHERE
	 PT.MODULENR=6 AND PT.TRCODE IN (1) AND PT.PAID=0 AND I.CYPHCODE='BMS' AND I.CAPIBLOCK_CREATEDBY=1 AND PT.CARDREF NOT IN (SELECT C.LOGICALREF FROM LG_125_CLCARD C WHERE C.CODE   IN ('Z.001','Z.002') )
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_DebtClose_Invoice]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[BMS_125_MarkeRGenius_DebtClose_Invoice]  as 
SELECT 
	PAYTRANS_INVOICE=	PT.LOGICALREF
	,BRANCH=			I.BRANCH
	,DOCODE=			I.DOCODE
	,DATE_INVOICE=		I.DATE_
	,CLIENTREF=			PT.CARDREF
	,I.SPECODE
	,PAYTRANS_TOTAL=	PT.TOTAL 
FROM 
	LG_125_01_PAYTRANS PT LEFT JOIN LG_125_01_INVOICE I ON I.LOGICALREF=PT.FICHEREF
WHERE
	 PT.MODULENR=4 AND PT.TRCODE IN (7) AND PT.PAID=0 AND I.CYPHCODE='BMS' AND I.POSTRANSFERINFO=1 AND I.CAPIBLOCK_CREATEDBY=1 AND PT.CARDREF NOT IN (SELECT C.LOGICALREF FROM LG_125_CLCARD C WHERE C.CODE   IN ('Z.001','Z.002') )
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_DebtClose_Kslines]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[BMS_125_MarkeRGenius_DebtClose_Kslines] as 
SELECT 
	PAYTRANS_KSLINES=	PT.LOGICALREF
	,BRANCH=			I.BRANCH
	,DOCODE=			I.DOCODE
	,DATE_KSLINES=		I.DATE_
	,CLIENTREF=			PT.CARDREF
	,I.SPECODE
	,PAYTRANS_TOTAL=	PT.TOTAL 
FROM LG_125_01_PAYTRANS PT LEFT JOIN LG_125_01_KSLINES I ON I.LOGICALREF=PT.FICHEREF
WHERE PT.MODULENR=10 AND PT.TRCODE IN (1) AND PT.PAID=0 AND I.CYPHCODE='BMS' AND I.CAPIBLOCK_CREATEDBY=1 AND PT.CARDREF NOT IN (SELECT C.LOGICALREF FROM LG_125_CLCARD C WHERE C.CODE   IN ('Z.001','Z.002'));
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_GeniusPos]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[BMS_125_MarkeRGenius_GeniusPos] as 
select DISTINCT NUM AS NR from [192.168.3.197].[Genius3].[GENIUS3].POS
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_HatalıUrunler]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BMS_125_MarkeRGenius_HatalıUrunler] AS

(
SELECT

	BARCODE=               G3B.BARCODE,
	ERRORMESSAGE = 'Barkod Logoda Bulunamadı'
	


FROM
	LG_125_UNITBARCODE AS UBR RIGHT OUTER JOIN
	(
SELECT FTYPE='SATIS',TDATE,FK_STORE,FK_POS,SALESMAN,BARCODE,SUM(QUANTITY) AS QUANTITY,AVG(PRICE) AS PRICE,SUM(TOTALPRICE) AS TOTALPRICE,SUM(LINE_TOTL_DISCOUNT) AS LINE_TOTL_DISCOUNT,
SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT,
SUM(LINE_TOTAL_VAT) AS LINE_TOTAL_VAT FROM (
SELECT FTYPE='SATIS',  cast(TRANS_DATE as date) AS TDATE,FK_STORE,
    FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ((/* satislar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) OR
                      (/* iade satis iptali */ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0)) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN  (cast(convert(varchar(10), GetDate()-7, 120) as datetime)) AND  (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE
UNION ALL

SELECT     
	FTYPE='SATIRIPTAL',cast(TRANS_DATE as date) AS TDATE,FK_STORE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, - SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      - SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      - SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,-SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,-SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,-SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,-SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iptal edilen satirlar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0) AND
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime)) AND  (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE
) AS SATISVESATIRIPTAL GROUP BY FK_STORE,FK_POS,SALESMAN,TDATE,BARCODE
UNION ALL

SELECT     FTYPE='IADE',cast(TRANS_DATE as date) AS TDATE,FK_STORE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE,  SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                       SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                       SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ( TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime)) AND  (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE	
	) AS G3B ON UBR.BARCODE = G3B.BARCODE LEFT OUTER JOIN
	LG_125_ITEMS ITM ON ITM.LOGICALREF=UBR.ITEMREF
WHERE 
	1=1 AND UBR.barcode IS NULL
	)

UNION ALL

(
SELECT

	BARCODE=               G3B.BARCODE,
	ERRORMESSAGE = 'Ürün Logoda Kullanım Dışı'
	


FROM
	LG_125_UNITBARCODE AS UBR RIGHT OUTER JOIN
	(
SELECT FTYPE='SATIS',TDATE,FK_STORE,FK_POS,SALESMAN,BARCODE,SUM(QUANTITY) AS QUANTITY,AVG(PRICE) AS PRICE,SUM(TOTALPRICE) AS TOTALPRICE,SUM(LINE_TOTL_DISCOUNT) AS LINE_TOTL_DISCOUNT,
SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT,
SUM(LINE_TOTAL_VAT) AS LINE_TOTAL_VAT FROM (
SELECT FTYPE='SATIS',  cast(TRANS_DATE as date) AS TDATE,FK_STORE,
    FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ((/* satislar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) OR
                      (/* iade satis iptali */ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0)) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN  (cast(convert(varchar(10), GetDate()-7, 120) as datetime)) AND  (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE
UNION ALL

SELECT     
	FTYPE='SATIRIPTAL',cast(TRANS_DATE as date) AS TDATE,FK_STORE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, - SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      - SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      - SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,-SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,-SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,-SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,-SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iptal edilen satirlar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0) AND
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime)) AND  (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE
) AS SATISVESATIRIPTAL GROUP BY FK_STORE,FK_POS,SALESMAN,TDATE,BARCODE
UNION ALL

SELECT     FTYPE='IADE',cast(TRANS_DATE as date) AS TDATE,FK_STORE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE,  SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                       SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                       SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ( TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime)) AND  (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE	
	) AS G3B ON UBR.BARCODE = G3B.BARCODE LEFT OUTER JOIN
	LG_125_ITEMS ITM ON ITM.LOGICALREF=UBR.ITEMREF
WHERE 
	1=1 
	AND ITM.ACTIVE = 1)
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_HatalıÜrünBarkodları]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[BMS_125_MarkeRGenius_HatalıÜrünBarkodları] as
SELECT BARCODE as barkod ,
(
CASE 
WHEN LEN(BARCODE)>18 THEN '18 Karakterden Uzun'
 end
)
as [Hata Detay]
FROM LG_125_UNITBARCODE where LEN(BARCODE) > 18
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_HataliUrunler2]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BMS_125_MarkeRGenius_HataliUrunler2] as
(SELECT
/*REPLACE BEGIN FOR DISTINCT*/
	BARCODE =              G3B.BARCODE,
    HATA = 'Ürün Barkodu Logoda Bulunamadı!'

	/*select * from [BMSF_125_PennaGenius_Sales]('12/26/2023 00:00:00','12/26/2023 23:59:59') where LINE_TOTL_DISCOUNT<>0*/
/*REPLACE END FOR DISTINCT*/
FROM
	LG_125_UNITBARCODE AS UBR RIGHT OUTER JOIN
	(
SELECT FTYPE='SATIS',TDATE,FK_STORE,FK_POS,SALESMAN,BARCODE,SUM(QUANTITY) AS QUANTITY,AVG(PRICE) AS PRICE,SUM(TOTALPRICE) AS TOTALPRICE,SUM(LINE_TOTL_DISCOUNT) AS LINE_TOTL_DISCOUNT,
SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT,
SUM(LINE_TOTAL_VAT) AS LINE_TOTAL_VAT FROM (
SELECT FTYPE='SATIS',  cast(TRANS_DATE as date) AS TDATE,FK_STORE,
    FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ((/* satislar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) OR
                      (/* iade satis iptali */ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0)) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime))  AND (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE
/* satir iptalleri ve iadeleri cikartmak*/ UNION ALL
/*IPTAL*/
SELECT     
	FTYPE='SATIRIPTAL',cast(TRANS_DATE as date) AS TDATE,FK_STORE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, - SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      - SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      - SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,-SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,-SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,-SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,-SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iptal edilen satirlar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0) AND
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime))  AND (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE
) AS SATISVESATIRIPTAL GROUP BY FK_STORE,FK_POS,SALESMAN,TDATE,BARCODE
UNION ALL
/*IADE*/
SELECT     FTYPE='IADE',cast(TRANS_DATE as date) AS TDATE,FK_STORE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE,  SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                       SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                       SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iadeler*/ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime))  AND (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE	
	) AS G3B ON UBR.BARCODE = G3B.BARCODE LEFT OUTER JOIN
	LG_125_ITEMS ITM ON ITM.LOGICALREF=UBR.ITEMREF
WHERE 
	1=1 AND ITM.CODE IS NULL
)
UNION ALL

SELECT
/*REPLACE BEGIN FOR DISTINCT*/
	BARKOD =              G3B.BARCODE,
	HATA = 'Ürün Logoda Kullanım Dışı!'

	/*select * from [BMSF_125_PennaGenius_Sales]('12/26/2023 00:00:00','12/26/2023 23:59:59') where LINE_TOTL_DISCOUNT<>0*/
/*REPLACE END FOR DISTINCT*/
FROM
	LG_125_UNITBARCODE AS UBR RIGHT OUTER JOIN
	(
SELECT FTYPE='SATIS',TDATE,FK_STORE,FK_POS,SALESMAN,BARCODE,SUM(QUANTITY) AS QUANTITY,AVG(PRICE) AS PRICE,SUM(TOTALPRICE) AS TOTALPRICE,SUM(LINE_TOTL_DISCOUNT) AS LINE_TOTL_DISCOUNT,
SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT,
SUM(LINE_TOTAL_VAT) AS LINE_TOTAL_VAT FROM (
SELECT FTYPE='SATIS',  cast(TRANS_DATE as date) AS TDATE,FK_STORE,
    FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     ((/* satislar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) OR
                      (/* iade satis iptali */ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0)) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime))  AND (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE
/* satir iptalleri ve iadeleri cikartmak*/ UNION ALL
/*IPTAL*/
SELECT     
	FTYPE='SATIRIPTAL',cast(TRANS_DATE as date) AS TDATE,FK_STORE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE, - SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                      - SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                      - SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,-SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,-SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,-SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,-SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iptal edilen satirlar	*/ TRANSACTION_HEADER.PTYPE NOT IN (2, 6) AND TRANSACTION_SALE.STATUS = 1 AND TRANSACTION_HEADER.STATUS = 0) AND
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime))  AND (cast(convert(varchar(10), GetDate(), 120) as datetime)) AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE
) AS SATISVESATIRIPTAL GROUP BY FK_STORE,FK_POS,SALESMAN,TDATE,BARCODE
UNION ALL
/*IADE*/
SELECT     FTYPE='IADE',cast(TRANS_DATE as date) AS TDATE,FK_STORE,
	FK_POS=(SELECT PPOS.NUM FROM [192.168.3.197].[Genius3].[GENIUS3].POS PPOS WHERE PPOS.ID=FK_POS)
	,SALESMAN=(SELECT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WHERE GUT.ID=FK_USER)
	,BARCODE,  SUM(AMOUNT) AS QUANTITY, AVG(UNIT_PRICE) AS PRICE, 
                       SUM(TOTAL_PRICE - (DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT)) AS TOTALPRICE, 
                       SUM(DISCOUNT_TOTAL + INDIRECT_DISCOUNT_TOTAL + CAMPAIGN_DISCOUNT + CHEQUE_DISCOUNT) AS LINE_TOTL_DISCOUNT					  
					  ,SUM(DISCOUNT_TOTAL) DISCOUNT_TOTAL
					  ,SUM(INDIRECT_DISCOUNT_TOTAL) INDIRECT_DISCOUNT_TOTAL
					  ,SUM(CAMPAIGN_DISCOUNT) CAMPAIGN_DISCOUNT
					  ,SUM(CHEQUE_DISCOUNT) CHEQUE_DISCOUNT
					  ,SUM(VAT_TOTAL) AS LINE_TOTAL_VAT
FROM         [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE INNER JOIN
                      [192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
WHERE     (/* iadeler*/ TRANSACTION_HEADER.PTYPE IN (2, 6) AND TRANSACTION_SALE.STATUS = 0 AND TRANSACTION_HEADER.STATUS = 0) AND 
                      TRANSACTION_HEADER.TRANS_DATE BETWEEN (cast(convert(varchar(10), GetDate()-7, 120) as datetime))  AND (cast(convert(varchar(10), GetDate(), 120) as datetime))  AND (TRANSACTION_HEADER.CUSTOMER_CODE = '' AND TRANSACTION_HEADER.DOCUMENT_NO='')
GROUP BY cast(TRANS_DATE as date),FK_STORE,FK_POS,FK_USER, BARCODE	
	) AS G3B ON UBR.BARCODE = G3B.BARCODE LEFT OUTER JOIN
	LG_125_ITEMS ITM ON ITM.LOGICALREF=UBR.ITEMREF
WHERE 
	1=1 AND ITM.ACTIVE = 1
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_InvoiceClient]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[BMS_125_MarkeRGenius_InvoiceClient] as 
select CODE AS NR, DEFINITION_ AS NAME from LG_125_CLCARD where CODE='Z.001'
GO
/****** Object:  View [dbo].[BMS_125_MarkeRGenius_ReturnClient]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[BMS_125_MarkeRGenius_ReturnClient] as 
select CODE AS NR, DEFINITION_ AS NAME from LG_125_CLCARD where CODE='Z.001'
GO
/****** Object:  View [dbo].[Bms_125_MarkeRGeniusIntegration_Cariler]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Bms_125_MarkeRGeniusIntegration_Cariler] as
SELECT 
TARIH=CAST(CASE WHEN ISNULL(I.CAPIBLOCK_MODIFIEDDATE,I.CAPIBLOCK_CREADEDDATE) > I.CAPIBLOCK_CREADEDDATE THEN I.CAPIBLOCK_MODIFIEDDATE ELSE I.CAPIBLOCK_CREADEDDATE END  AS DATE)
	,CARDREF=		I.LOGICALREF
	,I.CODE
	--,B.BARCODE
	,EXPLANATION=	DBO.BMS_FNC_PennaGeniusIntegration_CharacterFix(I.DEFINITION_ )
	,TELNR=	LEFT(TELNRS1+' '+TELNRS2,20)
	,SPECODE5 AS INDIRIM
FROM 
	LG_125_CLCARD I WITH(NOLOCK)  
WHERE
	ACTIVE=0 AND LOGICALREF>1
GO
/****** Object:  View [dbo].[Bms_125_MarkeRGeniusIntegration_Control_Client]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[Bms_125_MarkeRGeniusIntegration_Control_Client] as 
SELECT DISTINCT 
	KOD = CUSTOMER_CODE,
	AD = NAME_ON_DOC
FROM 
	[192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER WITH(NOLOCK)
WHERE 
	(
		(SELECT TOP 1 1 FROM LG_125_CLCARD C WITH(NOLOCK) WHERE C.CODE = CUSTOMER_CODE) IS NULL 
		AND CUSTOMER_CODE <> ''
	)
	AND CREATE_DATE >= DATEADD(DAY, -7, GETDATE()) 

GO
/****** Object:  View [dbo].[Bms_125_MarkeRGeniusIntegration_Control_Items]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create view [dbo].[Bms_125_MarkeRGeniusIntegration_Control_Items] as 
SELECT DISTINCT 
		KOD=BARCODE
		,AD=''
FROM [192.168.3.197].Genius3.GENIUS3.TRANSACTION_SALE WITH(NOLOCK) INNER JOIN
				[192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER WITH(NOLOCK)
				ON TRANSACTION_SALE.FK_TRANSACTION_HEADER = TRANSACTION_HEADER.ID
				WHERE 
				TRANSACTION_HEADER.TRANS_DATE >= DATEADD(DAY, -3, GETDATE()) 
				AND BARCODE<>'' AND BARCODE NOT IN (SELECT U.BARCODE FROM LG_125_UNITBARCODE U)
GO
/****** Object:  View [dbo].[Bms_125_MarkeRGeniusIntegration_Control_Items_Eski]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[Bms_125_MarkeRGeniusIntegration_Control_Items_Eski] as 
SELECT DISTINCT 
	KOD=BARCODE
	,AD=(SELECT TOP 1 DESCRIPTION  FROM [192.168.3.197].Genius3.GENIUS3.STOCK_CARD SK WITH(NOLOCK) WHERE SK.ID=B.FK_STOCK_CARD) ,*
FROM 
	[192.168.3.197].Genius3.GENIUS3.STOCK_BARCODE B WITH(NOLOCK) 
WHERE 
	BARCODE NOT IN (SELECT UB.BARCODE FROM LG_125_UNITBARCODE UB WITH(NOLOCK))
	AND CREATE_DATE >= DATEADD(DAY, -7, GETDATE()) 
GO
/****** Object:  View [dbo].[Bms_125_MarkeRGeniusIntegration_Control_Salesman]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[Bms_125_MarkeRGeniusIntegration_Control_Salesman] as 
SELECT * FROM (
SELECT DISTINCT 
	KOD=(SELECT DISTINCT GUT.CODE FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WITH(NOLOCK)  WHERE GUT.ID=FK_USER)
	,AD=(SELECT DISTINCT GUT.NAME FROM [192.168.3.197].[Genius3].[GENIUS3].[USERS] GUT WITH(NOLOCK)  WHERE GUT.ID=FK_USER),*
FROM 
	[192.168.3.197].Genius3.GENIUS3.TRANSACTION_HEADER
) AS TF 
WHERE 
	KOD NOT IN (SELECT S.CODE FROM LG_SLSMAN S WITH(NOLOCK) WHERE S.FIRMNR=125)

	AND CREATE_DATE >= DATEADD(DAY, -7, GETDATE()) 
GO
/****** Object:  Table [dbo].[Bms_125_MarkeRGeniusIntegration_Default]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bms_125_MarkeRGeniusIntegration_Default](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Value] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bms_125_MarkeRGeniusIntegration_Default] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bms_125_MarkeRGeniusIntegration_IbmKasa]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bms_125_MarkeRGeniusIntegration_IbmKasa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogoValue] [nvarchar](199) NULL,
	[G3Value] [nvarchar](199) NULL,
	[Path] [nvarchar](max) NULL,
	[SqlServer] [nvarchar](199) NULL,
	[SqlUsername] [nvarchar](199) NULL,
	[SqlPassword] [nvarchar](199) NULL,
	[SqlDatabase] [nvarchar](199) NULL,
 CONSTRAINT [PK_Bms_125_PennaGeniusIntegration_IbmKasa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bms_125_MarkeRGeniusIntegration_IbmKasa_Yedek]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bms_125_MarkeRGeniusIntegration_IbmKasa_Yedek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogoValue] [nvarchar](199) NULL,
	[G3Value] [nvarchar](199) NULL,
	[Path] [nvarchar](max) NULL,
	[SqlServer] [nvarchar](199) NULL,
	[SqlUsername] [nvarchar](199) NULL,
	[SqlPassword] [nvarchar](199) NULL,
	[SqlDatabase] [nvarchar](199) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bms_125_MarkeRGeniusIntegration_Mapping]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bms_125_MarkeRGeniusIntegration_Mapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogoBranch] [nvarchar](50) NULL,
	[PosBranch] [nvarchar](50) NULL,
	[Ip] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bms_125_MarkeRGeniusIntegration_Mapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bms_125_MarkeRGeniusIntegration_PaymentMapping]    Script Date: 25.12.2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bms_125_MarkeRGeniusIntegration_PaymentMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Branch] [int] NULL,
	[Saleman] [nvarchar](50) NULL,
	[IntegrationCode] [nvarchar](50) NULL,
	[LogoFicheType] [nvarchar](50) NULL,
	[Currency] [nvarchar](50) NULL,
	[BankOrKsCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bms_125_MarkeRGeniusIntegration_PaymentMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
